<div class="produit">
    <!-- Zone de vue pour un produit -->
    <h2>Titre du produit</h2>
    <table>
        <tr>
            <th><img src="img/basket-paul-smith-bleu-marine-et-rouge.jpg" alt=""></th>
            <td>
                <u>Description :</u> Dolore quis duis eiusmod adipisicing pariatur velit quis excepteur eu magna do incididunt.
                <br/>
                <br/> Prix :
                <span class="produit-prix">17&euro;95</span>
            </td>
            <th>
                <button type="button" class="btn btn-success">Ajouter</button>
            </th>

        </tr>
    </table>
    <hr/>
    <u>commentaires sur le produit :</u>
    <div class="panel panel-default">
        <div class="panel-heading"><i>par :</i>DD</div>
        <div class="panel-body">Consequat ut veniam amet aute cupidatat sit.</div>
    </div>

</div>