<!-- Zone de vue pour une liste de produits -->
<div id="produits">
    <table>
        <tr>
            <th>Image</th>
            <th>Description</th>
            <th>Prix</th>
        </tr>
        <tr>
            <td class="center underline produits-produit-titre" colspan="4">Titre du produit 1</td>
        </tr>
        <tr>
            <td>
                <img src="img/basket-paul-smith-bleu-marine-et-rouge.jpg" alt="photo">
            </td>
            <td>
                <u>Description du produit : </u>
            </td>
            <td class="produits-produit-prix">
                170&euro;95
            </td>
            <td>
                <button type="button" class="btn btn-info">Voir</button>
            </td>
        </tr>
        <tr>
            <td class="center underline produits-produit-titre" colspan="4">Titre du produit 2</th>
        </tr>
        <tr>
            <td>
                <img src="img/s9xg-a328-sfg-w1r-22332.jpg" alt="photo2">
            </td>
            <td>
                <u>description du produit</u>
            </td>
            <td>
                350&euro;50
            </td>
            <td><button type="button" class="btn btn-info">Voir</button></td>
        </tr>
    </table>


</div>