body {
    color: black;
}

#produits-produit img {
    max-height: 150px;
    max-width: 150px;
    size: auto;
}

#produits-liste img {
    max-height: 95px;
    max-width: 95px;
    size: auto;
}

table {
    width: 100%;
    border: none;
}

th {
    text-align: center;
    color: darkgrey
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.produits-produit-titre {
    font-size: 28pt;
    font-weight: 700;
}